<!-- course detail-->
<div data-type="accordion" class="responsive-tabs responsive-tabs-classic">
    <ul data-group="accordion-modern" class="resp-tabs-list accordion-modern static-hide-ctrl btn btn-primary ">
        <li style="color:white;">How much does it cost to attend the College?</li>
    </ul>
    <div data-group="accordion-modern" class="resp-tabs-container accordion-modern">
        <div>
            <div class="shell">
                <div class="range range-xs-center range-sm-left">
                    <div class="cell-sm-8 text-sm-left">
                        <h4 class="text-bold">Course Description</h4>
                        <hr class="divider bg-madison hr-sm-left-0">
                        <div class="offset-top-20 offset-sm-top-20">
                            <p>This course will commence from 12th April.</p>
                        </div>
                        <p>Classes will be held in evening after school time from 3.30 pm to 8.10 pm</p>
                        <p>Through this course we prepare the students for Board examinations as well as for NEET and AIIMS. During the entire course, students will be provided with chapter-wise study material, assignments and Regular Practice Sheets.</p>
                        <p>NCERT is thoroughly included in our teaching and study material.</p>
                        <p>Syllabus of XII will be taught thoroughly and regular tests will be conducted to give them exposure on exact pattern of NEET and AIIMS. Results will be conveyed to parents indicating marks and overall ranking of their wards. The syllabus of XII will be completed by the end of October.</p>
                        <p>Thereafter regular classes will be conducted followed by weekly tests in the months of November and December for the revision of XI from competition point of view.</p>
                        <p>Students will be given time to prepare for XII Board Exams in the month of January and February next  year.</p>
                        <p>After the Board Examinations, students will be finally prepared for NEET and AIIMS through specially designed Test Series.</p>
                        <div class="offset-top-20 offset-md-top-20" style="margin-bottom:18px;">
                            <div class="group group-xl "><button type="button" id="mdl_popup" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"> Fee Details</button><a href="#" class="btn btn-primary btn-sm">Pay Online</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
