<!-- course fee detail-->


<section class="offset-top-40">
    <div class="shell">
        <div class="range range-xs-center range-sm-left offset-top-20">
            <div class="cell-sm-12 text-sm-left ">
                <h6 class="text-bold">Registration fee : 600</h6>
                <hr class="divider bg-madison hr-sm-left-0">
                <div class="offset-top-10 offset-sm-top-20">
                    <p>(This will be conisdered as part of course fee and will be deducted from 1st installment)</p>
                </div>
                
                <!-- Class Room Courses-->
                <table data-responsive="true" class="table table-custom table-fixed bordered-table">
                    <tr>
                        <th>Installment No.	</th>
                        <th class="">Due Date	</th>
                        <th>Basic Fees	</th>
                        <th>Service Tax	</th>
                        <th>Basic Fees + St</th>
                    </tr>
                    <tr>

                        <td>1</td>
                        <td>at the time of admission	</td>
                        <td>62609</td>
                        <td>11269.6</td>
                        <td>73878</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>12-07-2017</td>
                        <td>44870</td>
                        <td>8076.6</td>
                        <td>52946</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>107479</td>
                        <td>19346.2</td>
                        <td>126824</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
