<!-- RD Google Map-->
<div class="rd-google-map">
    <div id="rd-google-map" data-zoom="15" data-x="76.766969" data-y="30.721939" data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b4d4e1"},{"visibility":"on"}]}]' class="rd-google-map__model"></div>
    <ul class="rd-google-map__locations">
        <li data-x="76.766969" data-y="30.721939">
            <p>S.C.O. 343-344-345, TOP FLOOR, SECTOR 34-A, CHANDIGARH-160022 </p>
        </li>
    </ul>
</div>
