@{
    Layout = null;
}
@*<footer class="section-60 page-footer bg-catskill">
    <div class="shell">
        <div class="range range-xs-center range-sm-middle text-md-left">
            <div class="cell-xs-10 cell-md-6">
                <!--Footer brand--><a href="index.html" class="reveal-inline-block">
                    <div class="unit unit-xs-middle unit-md unit-md-horizontal unit-spacing-xxs">
                        <div class="unit-left"><img src="~/assets-web/images/logo-170x172.png" width="300" height="63" alt="" class="img-responsive reveal-inline-block" /></div>
                        <!-- <div class="unit-body text-xl-left"> -->
                        <!-- <div> -->
                        <!-- <h6 class="barnd-name text-ubold">Williams College</h6> -->
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </a>
            </div>
            <div class="cell-xs-10 cell-md-6 text-md-right offset-top-20 offset-md-top-0">
                <p class="text-dark">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-dark">Privacy Policy</a></p>
                <!-- {%FOOTER_LINK}-->
            </div>
        </div>
    </div>
</footer>*@
   <!-- Corporate footer-->
<footer class="page-footer">
    <div class="shell-wide">
        <div class="hr bg-gray-light"></div>
    </div>
    <div class="shell section-60">
        <div class="range range-lg-justify range-xs-center">           
            <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
                <h6 class="text-bold">Contact us</h6>
                <div class="text-subline"></div>
                <div class="offset-top-30">
                    <ul class="list-unstyled contact-info list">
                        <li>
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit-left"><span class="icon mdi mdi-phone text-middle icon-xs text-madison"></span></div>
                                <div class="unit-body">
                                    <a href="callto:#" class="text-dark">0172-2623155,</a> <a href="callto:#" class="reveal-block reveal-md-inline-block text-dark">2663424,</a><a href="callto:#" class="reveal-block reveal-md-inline-block text-dark">09988806090</a>
                                </div>
                            </div>
                        </li>
                        <li class="offset-top-15">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit-left"><span class="icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                                <div class="unit-body"><a href="mailto:#">info@Propertychandigarh.com</a></div>
                            </div>
                        </li>
                        <li class="offset-top-15">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit-left"><span class="fa-link text-middle icon-xs  text-madison"></span></div>
                                <div class="unit-body"><a href="WWW.Propertyinstitute.co.in">WWW.Propertyinstitute.co.in</a></div>
                            </div>
                        </li>
                        
                        <li class="offset-top-15">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                                <div class="unit-body text-left"><a href="#" class="text-dark">SCO 343-345(TOP Floor) Sector 34-A Chandigarh</a></div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
                <div class="offset-top-15 text-left">
                    <ul class="list-inline list-inline-xs list-inline-madison">
                        <li><a href="#" class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled"></a></li>
                        <li><a href="#" class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled"></a></li>
                        <li><a href="#" class="icon icon-xxs fa-google icon-circle icon-gray-light-filled"></a></li>
                        <li><a href="#" class="icon icon-xxs fa-instagram icon-circle icon-gray-light-filled"></a></li>
                    </ul>
                </div>
            </div>
            <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
                <h6 class="text-bold">Latest Courses</h6>
               
                <div class="text-subline"></div>
                <div class="offset-top-30">
                    <ul class="list-unstyled contact-info list">
                        <li>
                            <div class="box-comment text-left box-comment-classic">
                                <div class="unit unit-xs-horizontal">
                                    <div class="unit-left"><img src="~/Propertyimages/hmc-6.jpg" alt="" width="80" height="80" class="img-rounded box-comment-img" /></div>
                                    <div class="unit-body">
                                        
                                        <div class="box-comment-body offset-top-10">
                                           <a href="#" ><p>for +1 students (Two Year Regular Course)</p>  </a>                                          
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="offset-top-15">
                            <div class="box-comment text-left box-comment-classic">
                                <div class="unit unit-xs-horizontal">
                                    <div class="unit-left"><img src="~/Propertyimages/med1.jpg" alt="" width="80" height="80" class="img-rounded box-comment-img" /></div>
                                    <div class="unit-body">                                       
                                        <div class="box-comment-body offset-top-10">
                                            <a href=""><p>XII cum Competition course</p></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="offset-top-15">
                            <div class="box-comment text-left box-comment-classic">
                                <div class="unit unit-xs-horizontal">
                                    <div class="unit-left"><img src="~/Propertyimages/Medical-Backgrounds-vector-3.png" alt="" width="80" height="80" class="img-rounded box-comment-img" /></div>
                                    <div class="unit-body">                                      
                                        <div class="box-comment-body offset-top-10">
                                            <a href="#"> <p>Click here for admission in Dropper/Repeater Course</p></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left offset-top-50 offset-lg-top-0">
                <h6 class="text-bold">Course Finder</h6>
                <div class="text-subline"></div>
                <div class="form-group offset-top-30">
                    <ul class="-inline list-inline-xs list-unstyled list-inline-madison">
                        <li>
                            <select id="donation-state" data-placeholder="California" data-minimum-results-for-search="Infinity" class="form-control select-filter ">
                                <option selected>-Choose Exam Type-</option>
                                <option value="1">-All-</option>
                                <option value="2">NEET Courses</option>
                                <option value="3">JEE</option>
                            </select>
                        </li>

                        <li class="offset-top-15">
                            <select id="donation-state" data-placeholder="California" data-minimum-results-for-search="Infinity" class="form-control select-filter ">
                                <option selected>-Choose Course Type-</option>
                                <option value="2">-All-</option>
                                <option value="3">Crash Courses</option>
                                <option value="4">Test Series</option>
                                <option value="2">Weekend Course</option>
                                <option value="3">Correspondence Course</option>
                                <option value="4">Class Room Courses</option>
                            </select>
                        </li>
                        <li class="offset-top-15">
                            <select id="donation-state" data-placeholder="California" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                                <option selected>-Choose Class Type-</option>
                                
                            </select>
                        </li>
                        @*<label for="donation-state" class="form-label form-label-outside">State</label>*@
                       
                        
                    </ul>
                    
                        <div style="float:right;"><a href="#" class="btn btn-primary btn-round"> Search</a></div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="bg-madison context-dark">
        <div class="shell text-md-left section-15">
            <p>   Property Institute &copy;  <span id="copyright-year"></span>-All Rights Reserved  <a href="privacy.html">Privacy Policy</a></p>
        </div> 
    </div>
</footer>